.circle{
    background-color:#0d8fdb;
    border-radius:50%;
    behavior: url(PIE.htc);
    width : 200px;
    height : 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px; 
    font-size:350%;
    color: #fbf2f3;
}

